:root {
    --very-light-pink: #C7C7C7;
    --white: #FFFFFF;
    --text-input-field: #F7F7F7;
    --black: #000000;
    --hospital-green: #ACD982;
    --sm: 14px;
    --md: 16px; 
    --lg: 18px;
}

body { 
    font-family: 'Montserrat', sans-serif;
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
}

.my-order {
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}

.title {
    font-size: var(--lg);
    margin-bottom: 40px;
}

.my-order-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 300px;
    justify-content: center;
}

.my-order-content {
    display: flex;
    flex-direction: column;
}

.order {
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    gap: 16px;
    align-items: center;
}

.order p:nth-child(1) { 
    display: flex;
    flex-direction: column;
}

.order p:nth-child(2) { 
    text-align: end;
    font-weight: 700;
    object-fit: cover;
}

.order p span {
    margin-right: 80px;
}

.order p span:nth-child(1) { 
    font-size: var(--md);
    font-weight: bold;
}

.order p span:nth-child(2) { 
    font-size: var(--sm);
    color: var(--very-light-pink);
    font-weight: bold;
}